---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
SpacesBeforeTrailingComments: 2
